body{
    padding-top: 20px;
    background-color:whitesmoke;
    opacity:1;
    display: flex;
    justify-content: center;
}

.container{
    background-color:royalblue;
    box-shadow: 0px 0px 20px gray;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.vertical{
    width: 30px;
    height: 120px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.horizontal{
    width: 85px;
    height: 30px;
    position: absolute;
    top: 100;
    left: 65;
    z-index: 1;
    background-color: white;
}

.curve{
    width: 30px;
    height: 50px;
    position: absolute;
    top: 30;
    left: 82;
    border-radius: 80px;
    background-color: royalblue;
    border: 33px solid white;
    border-bottom: 50px solid royalblue;
    border-right: 40px solid royalblue;
    border-top-right-radius: 100px;
}

.horizontal2{
    width: 28px;
    height: 33px;
    position: absolute;
    top: 30;
    right: 24;
    background-color: white;
    border-right: 20px solid royalblue;
    border-bottom: 10px solid royalblue;
}

.text{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    font-family: "Times new roman",sans-serif;
}