body{
    padding-top: 20px;
    background-color:whitesmoke;
    opacity:1;
}

.logo{
    display: flex;
    justify-content: center;
}

.container{
    background:radial-gradient(circle at 3% 100%, #FED373 4%, #F15245 30%, #D92E7F 60%,#9B36B7 90% , #515ECF );
    box-shadow: 0px 0px 20px gray;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.border1{
    border-radius: 40px;
    border: 10px solid white;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 28px;
}

.border2{
    border-radius: 50%;
    border: 10px solid white;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 60px;
}

.dot{
    width: 20px;
    height:20px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 48px;
    right: 52px;
}

.label{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family:'lucidia console',cursive;
}