body{
    display: flex;
}
.traingle1 {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid red;
}

.traingle2{
    width: 0;
    height: 0;
    border-top:150px solid yellow ;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.traingle3{
    width: 0;
    height: 0;
    border-left:150px solid green ;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}

.traingle4{
    width: 0;
    height: 0;
    border-right:150px solid blue ;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}